[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "piwheels"
url = "https://www.piwheels.org/simple"
verify_ssl = true

[dev-packages]

[packages]
certifi = {version = "==2018.10.15",index = "piwheels"}
chardet = {version = "==3.0.4",index = "piwheels"}
idna = {version = "==2.7",index = "piwheels"}
netifaces = {version = "==0.10.7",index = "piwheels"}
pyserial = {version = "==3.4",index = "piwheels"}
requests = {version = "==2.21.0",index = "piwheels"}
robotremoteserver = {version = "==1.1",index = "piwheels"}
six = {version = "==1.12.0",index = "piwheels"}
ruamel-yaml = {version = "==0.15.89",index = "piwheels"}
pexpect = {version = "==4.6.0",index = "piwheels"}
python-daemon = {version = "==2.2.3",index = "piwheels"}
bson = {index = "piwheels",version = "==0.5.8"}

[requires]
python_version = "3.6"

[scripts]
daemon = "python task_daemon.py"
