[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mistune = "==0.8.4"
mongoengine = "==0.16.3"
prompt-toolkit = "==1.0.15"
pygments = "==2.2.0"
pymongo = "==3.7.2"
robotframework = "==3.0.4"
robotframework-debuglibrary = "==1.1.4"
six = "==1.11.0"
wcwidth = "==0.1.7"

[requires]
python_version = "3.6"

[scripts]
patch = "python -c \"import os, subprocess\nos.chdir('patch')\nsubprocess.run(['python', 'apply.py'])\""
start = "python tools/runTest.py"
update-db = "python tools/Test.py --action=UPDATE --scripts"
